<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    
    <h5 class="my-0 mr-md-auto font-weight-normal">Angular 6</h5>
    
    <nav class="my-2 my-md-0 mr-md-3">

      <a class="btn btn-outline-dark" routerLink="" [class.activated]="currentUrl == '/'" ><i class="fas fa-home"></i></a>
      <a class="btn btn-outline-dark" routerLink="create_produto" [class.activated]="currentUrl == '/create_produto'" ><i class="fas fa-plus-square"></i></a>

    </nav>

  </div>


