<table class="table table-sm table-hover">

    <tr *ngFor="let produto of produtos">
        
        <td >{{ produto.id }} </td>
        <td >{{ produto.descricao }} </td>
        <td >{{ produto.quantidade }} </td>
        <td >{{ produto.valor }} </td>

        <td> 
            <a href="#" class="text-info" (click)="showForEdit(produto)">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="#" class="text-danger" (click)="onDelete(produto)">
                <i class="fas fa-backspace"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
